@media (max-width: 990px) { 
    .link-pages-container>li>a {
        display: none;
    }   

    .greetings-container {
        margin-left: 2.2rem;
    }

    .profile-container {
        margin-right: 2.2rem;
    }

    .link-pages-container {
        margin-left: 0rem;
      }
}

@media (min-width: 768px) {     
    .projects-list>li>a {
        margin: auto;
        
    }
    .menu {
        top: 0;
        left: 60vw;
    }   

    .menu-hidden {
        left: 60vw;
    }



}

@media (max-width: 620px) {   


    .projects-list>li>span {
        display: inline-block;
        margin-right: 1rem;
    }

    .projects-list>li>div>a {
        font-size: 3rem;
        line-height: 8rem;
    }
    
    .icon-lenguage {
        width: 100%;
        margin-left: -2rem;
    }

    .ham-container {
        right: 0rem;
    }

    .logo-container {
        margin-left: 2rem;
    }

    .dots-container {
        right: 2rem;
    }

    
}