.App {
  text-align: center;  
  min-height: 100vh;
  min-width: 100vw;
  background: #282827;
}

* {
  font-size: 13px;
}

a {
  text-decoration: none;
  color: rgb(206, 202, 198);  
}

li {
  list-style-type: none;
}

ul {    
  display: flex;
}

.dark {
  filter: invert(1);
}

